@import "header.css";
@import "footer.css";

.container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
  "head"
  "img"
  "main";
  margin-left: 5px;
  margin-right: 5px;
  font-family: Palatino;
  background-color: #F5F5F5;
}

h1 {
  grid-area: head;
  text-align: center;
}

.pl-logo {
  grid-area: img;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
}

p {
  grid-area: main;
}
