.container {
      display: grid;
      grid-template-columns: repeat(6, 12em);
      grid-template-rows: 150px 500px 300px 200px;
      grid-template-areas:
      "hd hd hd hd hd hd"
      "main main main main fix fix"
      "art art art art art art"
      "ft ft ft ft ft ft";
      margin-left: 10px;
      margin-right: 10px;
      font-family: impact;

  }

  h2 {
    -webkit-text-stroke: .5px #4169E1; /* width and color */
    color: white;
    text-align: center;
  }

  h3 {
    color: #4169E1;
    text-align: center;
  }

  img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }

.header-box {
  grid-area: hd;
  text-align: center;
  background-color: #4169E1;
  color: white;
  text-decoration: underline;
}

.main-content {
  grid-area: main;
  margin-top: 25px;
  margin-bottom: 25px;
  background-image: url("../images/Kane_and_Son.jpg");
  background-color: #E8E8E8;
}

/* .main-content:hover {
  transform: scale(1.2);
  transition: all .5s;
  overflow: hidden;
} */

.article {
  grid-area: art;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  margin-bottom: 25px;
  background-color: #E8E8E8;
}

.box {
  width: 250px;
  height: 250px;
  border 1px solid red;
}

.fixtures {
  grid-area: fix;
  border-style: double;
  margin-left: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
  overflow: scroll;
  background-color: #E8E8E8;
}

.footer-box{
  grid-area: ft;
  font-size: 2em;
  background-color: #4169E1;
  color: white;
  text-decoration: underline;
}
